<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home - User</title>
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
  
  <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container-scroller">
    <!-- Navbar -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="images/logo.png" class="mr-2" alt="logo"/>KuTabung</a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo.png" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <i class="mdi mdi-menu menu-icon"></i>
        </button>

        <!-- Search Home Only -->
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="mdi mdi-search-web menu-icon"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>

        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="images/profile.png" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a href="setting.html" class="dropdown-item">
                <i class="mdi mdi-account menu-icon"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="mdi mdi-logout menu-icon"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    
    <div class="container-fluid page-body-wrapper">
      
      <!-- Sidebar -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="confirmation.html">
              <i class="mdi mdi-ticket menu-icon"></i>
              <span class="menu-title">Confirmation</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="transaction.html">
              <i class="mdi mdi-playlist-check menu-icon"></i>
              <span class="menu-title">Transaction</span>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Konten -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Welcome User</h3>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <div class="row">
                        <!-- Blog entries-->
                        <div class="col-lg-12">
                            <!-- Featured blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="images/gbr1.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted mb-2">10 Juni 2022 | Penulis</div>
                                    <h2 class="card-title">Post Utama</h2>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                                    <a class="btn btn-primary" href="post.html">Read more</a>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Blog post-->
                                    <div class="card mb-4">
                                        <a href="#!"><img class="card-img-top" src="images/gbr2.jpg" alt="..." /></a>
                                        <div class="card-body">
                                            <div class="small text-muted mb-2">10 Juni 2022 | Penulis</div>
                                            <h2 class="card-title h4">Post Cadangan</h2>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                            <a class="btn btn-primary" href="post.html">Read more</a>
                                        </div>
                                    </div>
                                    <!-- Blog post-->
                                    <div class="card mb-4">
                                        <a href="#!"><img class="card-img-top" src="images/gbr2.jpg" alt="..." /></a>
                                        <div class="card-body">
                                            <div class="small text-muted mb-2">10 Juni 2022 | Penulis</div>
                                            <h2 class="card-title h4">Post Cadangan</h2>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                            <a class="btn btn-primary" href="post.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <!-- Blog post-->
                                    <div class="card mb-4">
                                        <a href="#!"><img class="card-img-top" src="images/gbr2.jpg" alt="..." /></a>
                                        <div class="card-body">
                                            <div class="small text-muted mb-2">10 Juni 2022 | Penulis</div>
                                            <h2 class="card-title h4">Post Cadangan</h2>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                                            <a class="btn btn-primary" href="post.html">Read more</a>
                                        </div>
                                    </div>
                                    <!-- Blog post-->
                                    <div class="card mb-4">
                                        <a href="#!"><img class="card-img-top" src="images/gbr2.jpg" alt="..." /></a>
                                        <div class="card-body">
                                            <div class="small text-muted mb-2">10 Juni 2022 | Penulis</div>
                                            <h2 class="card-title h4">Post Cadangan</h2>
                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                                            <a class="btn btn-primary" href="post.html">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Pagination-->
                            <nav aria-label="Pagination">
                                <hr class="my-0" />
                                <ul class="pagination justify-content-center my-4">
                                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">15</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Older</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    
  </div>
  

  <script src="js/vendor.bundle.base.js"></script>
  <script src="js/template.js"></script>
  <script src="js/bootstrap.js"></script>
</body>

</html>

