<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Post - User</title>
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container-scroller">
    <!-- Navbar -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo mr-5" href="index.html"><img src="images/logo.png" class="mr-2" alt="logo"/>KuTabung</a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo.png" alt="logo"/></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <i class="mdi mdi-menu menu-icon"></i>
            </button>

            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <img src="images/profile.png" alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a href="setting.html" class="dropdown-item">
                            <i class="mdi mdi-account menu-icon"></i>
                            Settings
                        </a>
                        <a class="dropdown-item">
                            <i class="mdi mdi-logout menu-icon"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
            </button>
        </div>
    </nav>
    
    <div class="container-fluid page-body-wrapper">
        
        <!-- Sidebar -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="confirmation.html">
                <i class="mdi mdi-ticket menu-icon"></i>
                <span class="menu-title">Confirmation</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="transaction.html">
                <i class="mdi mdi-playlist-check menu-icon"></i>
                <span class="menu-title">Transaction</span>
                </a>
            </li>
            </ul>
        </nav>
        
        <!-- Konten -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                        <h3 class="font-weight-bold">Welcome User</h3>
                        </div>
                    </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">

                                
                                
                                <main role="main" class="container">
                                    <div class="row">
                                        <div class="col-md-12 blog-main">
                                            <h3 class="pb-4 mb-4 font-weight-bolder border-bottom">
                                                KuTabung NEWS
                                            </h3>
                                        
                                            <div class="blog-post">
                                                <a href="#!"><img class="card-img-top mb-3" src="images/gbr1.jpg" alt="..." /></a>
                                                <h2 class="blog-post-title">Judul Post</h2>
                                                <p class="blog-post-meta">10 Juni 2022 | Penulis</p>
                                        
                                                <p>This blog post shows a few different types of content thats supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
                                                <hr>
                                                <p>Yeah, she dances to her own beat. Oh, no. You could've been the greatest. 'Cause, baby, you're a firework. Maybe a reason why all the doors are closed. Open up your heart and just let it begin. So très chic, yeah, she's a classic.</p>
                                                <p>Trying to connect the dots, don't know what to tell my boss. Before you met me I was alright but things were kinda heavy. You just gotta ignite the light and let it shine. Glitter all over the room <em>pink flamingos</em> in the pool. </p>
                                                
                                                <h2>Heading</h2>
                                                <p>Suiting up for my crowning battle. If you only knew what the future holds. Bring the beat back. Peach-pink lips, yeah, everybody stares.</p>
                                                
                                                <h3>Sub-heading</h3>
                                                <p>You give a hundred reasons why, and you say you're really gonna try. Straight stuntin' yeah we do it like that. Calling out my name. Cause I, Im capable of anything.</p>
                                                <p>Before you met me I was alright but things were kinda heavy. You just gotta ignite the light and let it shine.</p>
                                                
                                                <h3>Sub-heading</h3>
                                                <p>You got the finest architecture. Passport stamps, she's cosmopolitan. Fine, fresh, fierce, we got it on lock. Never planned that one day I'd be losing you. She eats your heart out.</p>
                                                
                                                <ul>
                                                    <li>Got a motel and built a fort out of sheets.</li>
                                                    <li>Your kiss is cosmic, every move is magic.</li>
                                                    <li>Suiting up for my crowning battle.</li>
                                                </ul>

                                                <p>Takes you miles high, so high, 'cause shes got that one international smile.</p>
                                                <ol>
                                                    <li>Scared to rock the boat and make a mess.</li>
                                                    <li>I could have rewrite your addiction.</li>
                                                    <li>I know you get me so I let my walls come down.</li>
                                                </ol>
                                                <p>After a hurricane comes a rainbow.</p>
                                            </div>
                                        
                                            <nav class="blog-pagination mb-5 text-center">
                                                <a class="btn btn-outline-primary" href="index.html">Home</a>
                                                <a class="btn btn-outline-info" href="#">Next Posting</a>
                                            </nav>
                                    
                                        </div>
                                    
                                    </div>
                                
                                </main>

                        </div>
                </div>
            </div>
        </div>
            
        
        
    </div>   
        
        </div>
    

    <script src="js/vendor.bundle.base.js"></script>
    <script src="js/template.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>

